{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="jumbotron text-center mt-5">
        <h1 class="text-danger">Pago declinado</h1>
        <p>Recibimos tu pedido. Ahora puede cerrar esta ventana o utilizar el
            enlace a continuación para visitar
             <button class="clear-cart" onclick="myFunction()">Volver al inicio</button>.
        </p>
    </div>
</div>
{% endblock content %}


{% block javascript %}
<script>
function myFunction(){
        localStorage.clear()
        location.reload()
}
</script>
{% endblock javascript %}